.table {
    margin: 6px auto;
    border-collapse: collapse;
    user-select: none;
}

.headerCell {
    padding: 0px 12px 6px;
    text-align: center;
    display: table-cell;
}

.cell {
    padding: 12px;
    text-align: center;
    display: table-cell;
    cursor: pointer;
    border: 1px solid #DDDDDD;
    transition: background-color 200ms ease-out;
}

.empty {
    border: none;
    cursor: default;
}

.active {
    background-color: #DEDEDE;
}
