.container {
    box-shadow: 0 0 2px #DDDDDD inset;
    text-shadow: 0 0 1px #DDDDDD;
    border: none;
    background-color: #FDFDFD;
    width: 100%;
    max-width: 305px;
    padding: 12px;
    margin: 12px auto;
    font-size: 14px;
}
